.currentModal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85vh;
    width: 90vw;
    background-color: #fff;
    /* display: none; */
    z-index: 1000;
    transition: top 0.3s ease-out;
}

.deactivate-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    opacity: 0;
    background-color: #0000007c;
}